<div class="flex justify-center mt-5">
  <form
    class="w-96 bg-base-100 p-6 rounded-lg shadow-md"
    (ngSubmit)="onSubmit()"
  >
    <div class="mb-5">
        <label class="input">
            <span class="label">E-Mail</span>
            <input type="text" placeholder="mail@site.com" />
          </label>
    </div>
    <div class="mb-5">
        <label class="input">
            <span class="label">Contraseña</span>
            <input type="password" />
          </label>
    </div>

    <div>
        <button type="submit" class="btn btn-primary w-full">Login</button>
        <p class="mt-4 text-center text-sm">
          No tienes cuenta?&nbsp;
          <a [routerLink]="'/register'" class="text-primary hover:underline">
            Registrate
          </a>
        </p>
    </div>
  </form>
</div>
