<div class="flex justify-center mt-5">
  <form
    class="w-96 bg-base-100 p-6 rounded-lg shadow-md"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="mb-5">
      <label class="input">
        <span class="label">E-Mail</span>
        <input
          type="email"
          placeholder="mail@site.com"
          formControlName="email"
        />
      </label>
      @if(loginForm.controls['email'].touched &&
      loginForm.controls['email'].errors){

      <shared-field-error-message message="Por favor, ingresa una dirección de correo válida (ejemplo@correo.com)." />
      }
    </div>
    <div class="mb-5">
      <label class="input">
        <span class="label">Contraseña</span>
        <input type="password" formControlName="password" />
      </label>
        @if(loginForm.controls['password'].touched &&
        loginForm.controls['password'].errors){
  
        <shared-field-error-message message="Tu contraseña debe tener al menos 8 caracteres." />
        }
    </div>

    <div>
      <button type="submit" class="btn btn-primary w-full">Login</button>
      <p class="mt-4 text-center text-sm">
        No tienes cuenta?&nbsp;
        <a [routerLink]="'/auth/register'" class="text-primary hover:underline">
          Registrate
        </a>
      </p>
    </div>
  </form>
</div>
